.List {
    padding:0;
    width: 1000px;
    color: #13334c;
}

.left, .right {
    display: inline-block;
}

@media ( max-width: 900px ) {
    .left, .right {
        display: block;
    }

    .List {
        width: 100%;
    }
}