.Rate {
    margin:0 auto 50px;
}

.Thumbnail {
    display: inline-block;
    margin: 20px;
}

@media (max-width: 628px) {
    .Thumbnail {
        margin: 10px;
    }
}

@media (max-width: 488px) {
    .Thumbnail {
        margin: 5px;
    }
}

@media (max-height: 500px){
    .Thumbnail{
        margin: 20px;
    }
}