.Navigation {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: white;
    margin-bottom:0;
}

@media (min-width: 500px) {
    .Navigation {
        flex-flow: row;
    }
}