.Header {
    height: 160px;
}

.logo {
    width: 160px;
    height: 160px;
}

.logo-small {
    width: 60px;
    height: 60px;
    display: none;
}

.logo-text {
    display: inline-block;
    font-size: 75px;
    transform: translateY(-25%);
    letter-spacing: 10px;
    color: #E84855;
}
    

@media (max-width: 580px) {
    .logo {
        height: 112px;
        width: 112px;
    }

    .logo-text {
        font-size: 60px;
        transform: translateY(-25%);
    }

    .Header {
        height: 120px;
    }
}

@media (max-width: 410px) {
    .logo-text {
        display: none;
    }

    .logo {
        display:none;
    }

    .logo-small {
        display: inline-block;
        margin: 5px;
    }

    .Header {
        height: 60px;
        width: 100%;
        position: relative;
    }
}

@media (max-height: 500px){
    .logo-text {
        display: none;
    }

    .logo {
        display:none;
        z-index: 1000;
    }

    .logo-small {
        display: inline;
        position:fixed;
        top:5px;
        left:5px;
    }

    .Header {
        height: 0;
    }
}